<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lima.douglas.apptabuadamultiplicar">

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="24" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- O modo portrait esta ativado, para desabilitalo basta apagar todos os 'android:screenOrientation="portrait' do codigo.-->

        <activity
            android:name=".PrincipalActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuTreinamentoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TelaTreinamentoInicianteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TelaTreinamentoIntermediarioActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TelaTreinamentoExperienteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DesafioDificilActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DesafioMedioActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DesafioFacilActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TabuadaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RecordesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NivelDesafioActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MenuNivelTreinamentoActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".util.GeradorDeTabuada" />

    </application>

</manifest>
